torch==2.4.0
torchaudio==2.4.0
torchvision
datasets==3.0.1
transformers==4.45.2
soundfile
numpy==1.26.4
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
wget
editdistance
pyctcdecode
https://github.com/kpu/kenlm/archive/master.zip
gdown

black
isort
pre-commit
